*.iml
.gradle
/local.properties
/.idea/workspace.xml
.idea/tasks.xml
/.idea/libraries
/*/local.properties
.DS_Store
/build
.idea/
/captures
.externalNativeBuild
.DS_Store
*.apk
*.ap_
*.dex
*.class
bin/
gen/
.gradle/
build/
local.properties
/*/out
/*/*/build
/*/*/production
*.iws
*.ipr
*.iml
.idea
*~
